* {
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;

}

/* COMMON Styles */

.common-btn {
    background: #1d4ed8FF;
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: large;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1435.5px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;

}

ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

section.hero {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 0 1rem;
}

section.hero h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin-bottom: 1rem;
    position: relative;
    top: -150px;
    max-width: 700px;
}

section.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    position: relative;
    top: -130px;
    max-width: 650px;
}

section.hero button {
    position: relative;
    top: 180px;
    max-width: 200px;
}

.speakers-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#speaker-heading, #pricing-heading h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    margin-top: 10rem;
}
.speakers-list {
  display : grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  max-width: 1435.5px;
  margin: 8rem auto;
  
}

.speaker p small {
    color: #1d4ed8FF;
}

#pricing-heading p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 4rem;
    margin-top: 0.8rem;
}

.pricing-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8 px;
   
    
}

.card{
    width:340px;
    background:rgba(255, 255, 255, 0.979);
    padding:30px;
    border-radius:15px;
    border:1px solid #ddd;
}

.pro{
    background:#0d1025;
    color:#fff;
}

.card h4{
    font-size:14px;
    margin-bottom:10px;
}

.card h1{
    font-size:48px;
    margin-bottom:5px;
}

.card p{
    color:gray;
    margin-bottom:25px;
}

.pro p{
    color:#bbb;
    
}

.card ul{
    list-style:none;
    margin-bottom:30px;
}

.card ul li{
    margin:12px 0;
}

.card button{
    width:100%;
    padding:14px;
    border-radius:8px;
    border:1px solid #ccc;
    background:white;
    cursor:pointer;
    color:black;
}

.pro button{
    background:#1d6cff;
    color:white;
    border:none;
    margin-top:50px;
}
